
<div class="auth-container">
  <form method="POST" action="/auth/signup" class="auth-form">
    <h3 class="auth-header">Create account</h3>
    <div class="field">
      <input type="text" name="username" placeholder="Username" />
    </div>

    <div class="field password">
      <input type="password" name="password" placeholder="Password"/>
    </div>

    <div class="field submit">
      <button type="submit">Sign Up</button>
      {{#if messages.length}}
        <div class="validation">
          {{#each messages}}{{this}}{{/each}}
        </div>
      {{/if}}
    </div>
  </form>
</div>

