
<div class="auth-container">
  <form method="POST" action="/auth/signup" class="auth-form">
    <h1>CREATE ACCOUNT</h1>
    <div class="field">
      {{!-- <label>Username</label> --}}
      <input type="text" name="username" placeholder="Username" />
    </div>

    <div class="field">
      {{!-- <label>Password</label> --}}
      <input type="password" name="password" placeholder="Password"/>
    </div>

    <div class="field submit">
      <button type="submit">Sign Up</button>
      {{#if messages.length}}
        <ul class="validation">
          {{#each messages}}<li>{{this}}</li>{{/each}}
        </ul>
      {{/if}}
    </div>
  </form>
</div>

