<h1>Create an account</h1>

<form method="POST" action="/auth/signup">

<<<<<<< HEAD
  <div class="field" >
    <label>Organisation name :</label>
    <input type="text" name="username"/>
  </div>

  <div class="field" >
    <label>Password :</label>
    <input type="password" name="password"/>
=======
  <div class="field">
    <label>Username</label>
    <input type="text" name="username" />
  </div>

  <div class="field">
    <label>Password</label>
    <input type="password" name="password" />
>>>>>>> 6427723ad53037c505938b8b980ff6cf0be5f5a0
  </div>

  <div class="field submit">
    <button type="submit">Sign up</button>
  </div>
</form>