<h1>Edit Profile</h1>

<form method="POST" action="/edit-profile">

  <div class="field">
    <label>Organisation name : </label>
    <input type="text" name="name" />
  </div>

  <div class="field">
    <label>Description :</label>
    <input type="text" name="description" />
  </div>

  <div class="field submit">
    <button type="submit">Save</button>
  </div>
</form>