<section class="home-page home-display home-background">
  <div>
    <h1>Venezuelans need your help</h1>
  </div>
  <div>
    <a href="#categories">
      <button>
        How do you want to help?
      </button>
    </a>
  </div>
</section>

<div class="explanation">
  <h3>Choose a category below</h3>
</div>
<section class="categories-container home-display" id="categories">
  <form action="/org" method="GET" class="home-card">
    <input type="hidden" name="category" value="food">
    <button>
      <img src="../images/food.svg" alt="">
      <h3>Food</h3>
      <p> Help to send food supplies to help and alleviate the malnutrition and undernourishment of many people in Venezuela.</p>
    </button>
  </form>

  <form action="/org" method="GET" class="home-card">
    <input type="hidden" name="category" value="medicine">
    <button>
      <img src="../images/medicine.svg" alt="">
      <h3>Medicine</h3>
      <p> Help to send Medical supplies to help mitigate the impact of the crisis current in the health and well-being of Venezuelans.</p>
    </button>
  </form>

  <form action="/org" method="GET" class="home-card">
    <input type="hidden" name="category" value="education">
    <button>
      <img src="../images/education.svg" alt="">
      <h3>Education</h3>
      <p> Provide integral education to the population of Venezuelan children who are in a situation of abuse, neglect or neglect,
        due to threats and / or violation of their rights.</p>
    </button>
  </form>
</section>