<!DOCTYPE html>
<html>

<head>
  <title>Help VZLA</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/burger-menu.css' />
</head>

<body>
  <div class="container">
    <header>
      
       <nav role="navigation" class="nav-container">
        <div id="menuToggle">
          <input type="checkbox" />
        
        <span></span>
        <span></span>
        <span></span>

        <ul id="menu">
          <a href="/org?category=food"><li>Food</li></a>
          <a href="/org?category=medicine"><li>Medicine</li></a>
          <a href="/org?category=education"><li>Education</li></a>
        </ul>
      </div>
        <a href="/">helpvzla.com</a>
        {{#if currentUser}}
          <div>
            <form method="POST" action="/auth/logout">
              <button>log out</button>
            </form>
          </div>
          <div>
            <form method="GET" action="/org/{{currentUser._id}}">
              <button>Profile</button>
            </form>
          </div>
          {{else}}
          <div>
          <a href="/auth/signup">Sign up</a>
          <a href="/auth/login">Login</a> 
          </div>
          {{/if}}
          
    </nav>
    </header>
  </div>
  {{{body}}}
<footer>Made with love&struggle by the tripletas</footer>
</body>
</div>

</html>