<!DOCTYPE html>
<html>

<head>
  <title>Help VZLA</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/burger-menu.css' />
</head>

<body>
  <div class "container">
    <header>
      {{#if currentUser}}
       <nav role="navigation" class="nav-not-logged">
        <div id="menuToggle">
          <input type="checkbox" />
        
        <span></span>
        <span></span>
        <span></span>

        <ul id="menu">
          <a href="/org?category=food"><li>Food</li></a>
          <a href="/org?category=medicine"><li>Medicine</li></a>
          <a href="/org?category=education"><li>Education</li></a>
        </ul>
      </div>
      <div>
        <a href="/" class="logo">helpvzla.com</a>
        </div>
         <div class="nav-not-logged-links">
          <form method="POST" action="/auth/logout">
          <button class="nav-logged-in-btn logout-btn">log out</button>
          </form>
          <form method="GET" action="/org/{{currentUser._id}}">
          <button class="nav-logged-in-btn loggin-btn">Profile</button>
          </form>
        </div>
    </nav>
    
      {{else}}
      <section>
      <nav role="navigation" class="nav-not-logged">
        <div id="menuToggle">
          <input type="checkbox" />
        
        <span></span>
        <span></span>
        <span></span>

        <ul id="menu">
          <a href="/org?category=food"><li>Food</li></a>
          <a href="/org?category=medicine"><li>Medicine</li></a>
          <a href="/org?category=education"><li>Education</li></a>
        </ul>
      </div>
         <div>
          <a href="/" class="logo">helpvzla.com</a>
          <a href="/auth/signup">Sign up</a>
           <a href="/auth/login">Login</a>
        </div>
    </nav>
      {{!-- <nav class="nav-not-logged">
        <a href="/" class="logo">helpvzla.com</a>
        <div class="links">
        <a href="/org?category=food">Food</a>
        <a href="/org?category=medicine">Medicine</a>
        <a href="/org?category=education">Education</a>
        </div>
        <div>
        <a href="/auth/signup">Sign up</a>
        <a href="/auth/login">Login</a>
        </div>
      </nav> --}}
      </section>
      {{/if}}
    </header>
  </div>
  {{{body}}}
<footer>Made with love&struggle by the tripletas</footer>
</body>
</div>

</html>