<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class "container">
    <header>

      {{#if currentUser}}
      <nav class="nav-logout">
        <p>Logged in as Mr. {{currentUser.username}}</p>
        <form method="POST" action="/auth/logout">
          <button class="logout-btn">log out</button>
        </form>
      </nav>
      {{else}}
      <nav class="nav-already-user">
        <a href="/auth/signup">Sign up</a>
        |
        <a href="/auth/login">Login</a>
      </nav>
      {{/if}}
    </header>
    {{{body}}}
    <footer>Footer</footer>

</body>
</div>

</html>