<!DOCTYPE html>
<html>

<head>
  <title>Help VZLA</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class "container">
    <header>
      {{#if currentUser}}
      <nav class="nav-logout">
        <p>Logged in as {{currentUser.username}}</p>
        <form method="POST" action="/auth/logout">
          <button class="logout-btn">log out</button>
        </form>

        <form method="GET" action="/org/{{currentUser._id}}">
          <button class="logout-btn">Profile</button>
        </form>
      </nav>
      {{else}}
      <section>
      <nav class="nav-not-logged">
        <a href="/" class="logo">helpvzla.com</a>
        <div class="links">
        <a href="/org?category=food">Food</a>
        <a href="/org?category=medicine">Medicine</a>
        <a href="/org?category=education">Education</a>
        </div>
        <div>
        <a href="/auth/signup">Sign up</a>
        <a href="/auth/login">Login</a>
        </div>
      </nav>
      </section>
      {{/if}}
    </header>
  </div>
  {{{body}}}
<footer>Made with love&struggle by the tripletas</footer>
</body>
</div>

</html>