<!DOCTYPE html>
<html>

<head>
  <title>helpvzla</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/burger-menu.css' />
</head>

<body>
  <div class="container">
    <header>
      <nav role="navigation" class="nav-container">
        <div class="burger-style" id="menuToggle">
          <input type="checkbox" />
          <span></span>
          <span></span>
          <span></span>
          <ul id="menu">
            <a href="/org?category=food">
              <li>Food</li>
            </a>
            <a href="/org?category=medicine">
              <li>Medicine</li>
            </a>
            <a href="/org?category=education">
              <li>Education</li>
            </a>
            <a href="/org">
              <li>All</li>
            </a>
          </ul>
        </div>
        <div class="logo">
          <a href="/">
            <img src="/images/logo.svg" alt="">
          </a>
        </div>

        {{#if currentUser}}
        <div class="nav-buttons">
          <form method="POST" action="/auth/logout">
            <button>Log out</button>
          </form>
          <form method="GET" action="/org/{{currentUser._id}}">
            <button>Profile</button>
          </form>
        </div>
        {{else}}
        <div>
          <a href="/auth/signup">Sign up</a>
          <a href="/auth/login">Login</a>
        </div>
        {{/if}}
      </nav>
    </header>
  </div>
  <div class="contain-page">
    {{{body}}}
  </div>
  <footer>
    <div>
      <a href="/org?category=food">
        <img src="../images/food-white.svg" alt="">
      </a>
      <a href="/org?category=medicine">
        <img src="../images/medicine-white.svg" alt="">
      </a>
      <a href="/org?category=education">
        <img src="../images/education-white.svg" alt="">
      </a>
    </div>
    <div class="mail-address">
      <a href="" class="mail-address">helpvzlaproject@gmail.com</a>
    </div>
    <p> Made with love & struggle by the tripletas</p>

  </footer>
</body>
</div>

</html>