{{category}}

<div class="all-org-list">
    {{#each users}}
    <div class="detail-card">
        <img src="http://imgs.globovision.com/joHKNsQpCPpOmSbZX0RLmwUPaHU=/847x0/smart/9e28a2ebfcb34ed5bf71e5c093532f33" alt="">
        <div class="org-description">
            <h2>{{this.username}}</h2>
            <p>{{this.description}}</p>
            <a href="org/{{this._id}}">
                <button>
                    See more
                </button>
            </a>
        </div>
    </div>
    {{/each}}
</div>