
<h1>Organisation list</h1>

<div class="all-org-list">
    {{#each users}}
    <div class="detail-card">
       <img src="{{this.imgUrl}}" alt="">
         <div class="org-description">
            <h2>{{this.username}}</h2>
            <p>{{this.description}}</p>
        <a href="org/{{this._id}}">
         <button>
            See more
         </button>
        </a>
        </div>
    </div>
    {{/each}}
</div>