<h1>Organisation list</h1>

<div class="all-org-list">
    {{#each users}}
    <div class="detail-card">
        <div class="short-details">
            <h2>{{this.username}}</h2>
            <p>{{this.description}}</p>
        </div>
        <button>
            <a href="org/{{this._id}}">See more</a>
        </button>
    </div>
    {{/each}}
</div>