  
  <form action="/profile/edit/org-picture" method="post" enctype="multipart/form-data">

    <div class="field">
      <label>photo</label>
      <input type="file" name="photo" />
    </div>
    <div class="field">
      <input type="submit" value="Save" />
    </div>
  </form>