body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* ----- Login and Logout form ----- */

/* .account {
 

  background: rgb(250, 255, 239);
  box-shadow: 0 8px 8px rgba(0,0,0,0.15);
  padding: 10px;
  margin-bottom: 15px;
  width: 30%;
} */

.field {
  text-align: center;
  padding: 10px;
}

/* ----- Nav-bar ----- */

.nav-logout {
  display: flex;
  justify-content: space-between;
}

.nav-already-user{
 text-align: right;
}

.logout-btn {
  background-color: rgb(92, 129, 160); 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

/* ----- Home page ----- */
/* ---- Mobile version - Home - page 1 ---- */

h1 {
  font-size: 25px;
}

hr {
  width: 20%;
}

p {
  margin-top: 75px;
  margin-bottom: 50px;
}

.titles a {
  font-size: 15px;
  margin: 0 40px;
  background-color: rgb(252, 106, 49);
  padding: 10px;
  text-decoration: none;
  text-emphasis: white;
  border-radius: 5px;
}

.titles {
  display: flex;
  text-align: center;
  color: white;
  background-image: url(https://ichef.bbci.co.uk/news/976/cpsprodpb/D159/production/_97039535_caracas.jpg);
  height: 95vh;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}

/* ---- Mobile version - Home - page 2 ---- */

img {
  width: 80px
}

.categories-container {
  text-align: center;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}


.categories-container img {
  padding-top: 25px;
}

/* Avoid the text to display when on mobile version */
.categories-container p {
  display: none;
}


/* ---- Website version - Home ---- */

@media (min-width: 767px) {
  h1 {
    font-size: 60px;
    margin-bottom: 20px;
   
  }
  h2 {
    display: block;
    font-size: 20px;
  
  }

  /* Now displaying when its website versions  */
  .categories-container p {
    display: unset;
  }

  .category-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .card {
    display: block;
    width: 28%;
    background: rgba(128, 128, 128, 0.329);
    box-shadow: 0 8px 8px rgba(0,0,0,0.15);
    padding: 10px;
    margin-bottom: 15px;
  }
 
}