body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.nav-logout {
  display: flex;
  justify-content: space-between;
  
}

.field {
  text-align: center;
  padding: 10px;
}

.nav-already-user{
 text-align: right;
}